<section class="content-section content-section--gray">
    <div class="content-section__container">
        <h1>Коттеджи</h1>
        {% include '../../components/content-block/content-block.twig' with {
            header: 'Среди природы',
            text: '<p>На территории Брусники 6 бревенчатых коттеджей. Все коттеджи совершенно одинаковые.</p>
                    <p>Каждый коттедж свободно вмещает 6 человек. При желании количество гостей может быть увеличено до
                    8-10 за счет раскладного дивана перед камином и дополнительных кроватей, которые можно поставить в
                    спальные комнаты на втором этаже. Дополнительные кровати оплачиваются отдельно.</p>',
            img: 'img/about_1.jpg',
            button: {
                name: 'Забронировать'
            }
        } %}
    </div>
</section>
