<section class="content-section">
    <div class="content-section__container">
        <h2>Размещениие</h2>
        <div class="content-property__text">
            <p>Стоянка для автомобилей гостей расположена при въезде в поселок.</p>
        </div>
        <div class="content-property__description">
            <div class="content-property__col">
                <h3>Мы предоставляем:</h3>
                <ul>
                    <li>Постельное белье</li>
                    <li>Комплект полотенец</li>
                    <li>Дрова для камина</li>
                </ul>
            </div>
            <div class="content-property__col">
                <h3>Что взять с собой?:</h3>
                <ul>
                    <li>Тапочки</li>
                    <li>Купальник\плавки и полотенца для сауны</li>
                    <li>Косметические средства</li>
                    <li>Шампуры, угли для мангала и жидкость для розжига</li>
                </ul>
            </div>
        </div>
    </div>
</section>
