<section class="price">
    <div class="price__inner">
        <h2>Наши цены</h2>

        <div class="price__table">
            <h3>Регулярные предложения</h3>
{#            <div class="price__header">#}
{#                <div class="price__header-item">С сентября по май</div>#}
{#                <div class="price__header-item">Лето</div>#}
{#            </div>#}
            <div class="price__list">
                <div class="price__item">
                    <div class="price__name">Сутки</div>
                    <div class="price__value price__value--current">
                        6 500 ₽
                        <div class="price__period" title="Cентябрь — май">Сейчас</div>
                    </div>
                    <div class="price__value">
                        12 500 ₽
                        <div class="price__period">Лето</div>
                    </div>
                </div>
                <div class="price__item">
                    <div class="price__name">Выходные</div>
                    <div class="price__value price__value--current">
                        12 000 ₽
                        <div class="price__period" title="Cентябрь — май">Сейчас</div>
                    </div>
                    <div class="price__value">
                        18 000 ₽
                        <div class="price__period">Лето</div>
                    </div>
                </div>
                <div class="price__item">
                    <div class="price__name">Двое суток (понедельник - четверг)</div>
                    <div class="price__value price__value--current">
                        12 000 ₽
                        <div class="price__period" title="Cентябрь — май">Сейчас</div>
                    </div>
                    <div class="price__value">
                        17 000 ₽
                        <div class="price__period">Лето</div>
                    </div>
                </div>
                <div class="price__item">
                    <div class="price__name">5 дней, 4 ночи (понедельник - пятница)</div>
                    <div class="price__value price__value--current">
                        17 000 ₽
                        <div class="price__period" title="Cентябрь — май">Сейчас</div>
                    </div>
                    <div class="price__value">
                        29 000 ₽
                        <div class="price__period">Лето</div>
                    </div>
                </div>
                <div class="price__item">
                    <div class="price__name">7 дней, 6 ночей (понедельник - воскресенье)</div>
                    <div class="price__value price__value--current">
                        25 000 ₽
                        <div class="price__period" title="Cентябрь — май">Сейчас</div>
                    </div>
                    <div class="price__value">
                        65 000 ₽
                        <div class="price__period">Лето</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="price__footer">
            {% include '../../components/buttons/button.twig' with {
                text: 'Забронировать',
                modify: 'btn--default',
                active: true
            }%}
        </div>
    </div>
</section>
