.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: rhythm(4.5) rhythm(9);
    border: thin solid $black;
    border-radius: 0;
    font-weight: $font-regular;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    line-height: 1em;
    background-color: $white;
    font-size: 1.2rem;
    text-decoration: none;
    color: $text-color;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    @include transition();

    &:hover {
        background-color: $color-main;
        border-color: $color-main;
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }
}

.btn--burger {
  @include column(1, 1);
  display: flex;
  background-color: transparent;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $text-color;
  }
}
