.contakts-header {
  flex-grow: 1;
  margin-right: 80px;
  order: 2;
  white-space: nowrap;

  @media #{$tablet-landscape} {
    margin-right: 0;
  }

  @media #{$desktop} {
    flex-grow: 0;
    padding-left: column(2);
    order: 3;
  }
}

.contakts-header__item {
  display:flex;
  height: 100%;
  align-items: center;
  justify-content: flex-end;
}

.contakts-header__phone {
  color: $text-color;
  font-weight: $font-bold;
  text-decoration: none;

  &:hover {
    text-decoration: none;
  }
}

