<footer class="main-footer">
    <div class="main-footer__inner">
        <div class="main-footer__nav">
            <ul class="main-footer__nav-list">
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">О нас</a>
                </li>
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">Коттеджи</a>
                </li>
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">Контакты</a>
                </li>
            </ul>
            <ul class="main-footer__nav-list">
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">Правила проживания</a>
                </li>
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">Как добраться?</a>
                </li>
                <li class="main-footer__nav-item">
                    <a href="" class="main-footer__link">Политика конфиденциальности</a>
                </li>
            </ul>
        </div>
        <div class="main-footer__contact">
            <div class="main-footer__contact-item">
                <a href="tel:+79817000170" class="main-footer__phone">+7 (981) 700-01-70</a>
                <address class="main-footer__address">77 км. Приозерского шоссе, <br>бывшая база отдыха «Климовец»</address>
            </div>
        </div>
        <div class="main-footer__copyright">
            <div class="main-footer__copyright-lingonberry">© Брусника 2019</div>
            <div class="main-footer__copyright-dev">designed by <a href="#">Anna Piskovaya</a></div>
        </div>
    </div>
</footer>
