<footer class="main-footer">
    <div class="main-footer__inner">
        <div class="main-footer__nav"></div>
        <div class="main-footer__contact">
            <div class="main-footer__item">
                <a href="tel:+79817000170" class="main-footer__phone">+7 (981) 700-01-70</a>
                <div class="main-footer__address">77 км. Приозерского шоссе, бывшая база отдыха "Климовец" 1</div>
            </div>
        </div>
        <div class="main-footer__copyright">
            <div class="main-footer__copyright-lingonberry"> ©  Брусника 2019</div>
            <div class="main-footer__copyright-dev">designed by <a href="#">Anna Piskovaya</a></div>
        </div>
    </div>
</footer>
