<section class="content-property">
    <div class="content-property__inner">
        <h2>Что у нас есть</h2>
        <div class="content-property__text">
            <p>На территории коттедж-клуба к вашим услугам 6 коттеджей и домик-клуб. Все коттеджи совершенно одинаковые
                по планировке и внешнему виду.</p>
        </div>
        <div class="content-property__description">
            <div class="content-property__col">
                <h3>На первом этаже:</h3>
                <ul>
                    <li>Прихожая с гардеробом оборудована теплым полом</li>
                    <li>Одна спальная комната</li>
                    <li>Ванная комната</li>
                    <li>Кухня</li>
                </ul>
            </div>
            <div class="content-property__col">
                <h3>На втором этаже:</h3>
                <ul>
                    <li>Две спальных комнаты</li>
                </ul>
                <h3>Рядом с каждым домиком: </h3>
                <ul>
                    <li>Мангал</li>
                    <li>Беседка</li>
                    <li>Парковочные места для двух автомобилей</li>
                </ul>
            </div>
        </div>
        <div class="content-property__footer">
            {% include '../../components/buttons/button.twig' with {
                text: 'Узнать больше',
                modify: 'btn--default',
                active: true,
                tag: 'a',
                href: '#'
            }%}
        </div>
    </div>
</section>
