{% include '../assets/layout/base.twig' with {
    title: 'Главная',
    meta_d: 'Описание',
    theme_color: '#007B3B'
} %}

{% block body %}

<div class="wrapper">
    {% include '../blocks/header/main_header.twig' %}
</div>

{% endblock %}



{% block footer %}

Л

{% endblock %}



{% block script %}

{% endblock %}
