{% include '../assets/layout/base.twig' with {
    title: 'Главная',
    meta_d: 'Описание',
    theme_color: '#007B3B'
} %}

{% block body %}
    <div>
        <ul>
            <li>
                <a href="/home.html">Главная страница</a>
            </li>
            <li>
                <a href="/kottedj.html">Коттеджи</a>
            </li>
            <li>
                <a href="/404.html">404</a>
            </li>
            <li>
                <a href="/components.html">Компоненты UI-KIT</a>
            </li>
            <li>
                <a href="/svgsprite-demo.html">SVG sprite</a>
            </li>
        </ul>
    </div>

{% endblock %}



{% block footer %}

{% endblock %}


{% block script %}

{% endblock %}
