<section class="content-section content-section_gray">
    <div class="content-section__container">
        {% include '../../components/content-block/content-block.twig' with {
            header: 'В каждом коттедже вы найдете:',
            modify: 'content-block_revers',
            text: '<p>На первом этаже ванная комната, финской сауной, душевой кабиной, санузлом, раковинной,
            теплым полом, феном и бойлером на 100 л. Кухня оборудована плитой, посудомоечной машиной,
            холодильником, микроволновой печью и чайником. В гостиной расположены уютный диван,
            дровяной камин, телевизор.</p>
            <p>На втором этаже распологаются две спальных комнаты, одна из которых с балконом.</p>',
            img: 'img/in-kottedj.jpg',
            button: {
                name: 'Забронировать'
            }
        } %}
    </div>
</section>
