// GRID
// Максимальная ширина контейнера
$grid-max-width:          auto;

// Колчество колонок
$grid-columns:            36;

// Вертикальный ритм
$rhythm:                  4px;

// breakpoints
$mobile:                  0px;
$tablet:                  768px;
$tablet-landscape:        1024px;
$desktop:                 1280px;
$desktop-wide:            1440px;
$fullhd:                  1920px;
$ultra:                   2560px;

/* COLORS */
// Градации серого
$gray:            				#808080;
$gray-lightest:					  #f8f8f8;
$gray-lighten:    				#f5f5f5;
$gray-light:      				#E5E5E5;
$gray-samidark:   				#C4C4C4;
$gray-dark:       				#585858;
$gray-darken:     				#333333;
$gray-darkest:					  #222222;
$black:							      #000000;
$white:						        #FFFFFF;

// Брендовые цвета
$color-main:					    #007B3B;
$color-main-light:				lighten($color-main, 10%);
$color-main-dark:				  darken($color-main, 10%);
$color-main-darken:				darken($color-main, 15%);

$color-second:					  $gray-light;
$color-second-light:			lighten($color-second, 10%);
$color-second-dark:				darken($color-second, 10%);

// Фон
$color-background:				$white;

// Стандартный цвет текста
$text-color:					    $gray-darkest;

// Стандартный цвет ссылок
$link-color:            	$color-main;
$link-hover-color:      	$color-main-dark;
$link-focus-color:      	$color-main-darken;
$link-active-color:      	lighten($link-hover-color, 10%);

// FONTS
$font-basic:              10px;
$font-size:						    1.4rem;
$font-name:					      'Open Sans';
$font-family:					    'Open Sans', 'Arial', sans-serif;
$font-bold:						    700;
$font-regular:					  400;
$font-light:					    300;
$font-semibold:					  700;

$font-second-name:			  'PT Serif';
$font-second-family:			'PT Serif', 'Times', serif;
$font-second-bold:				700;
$font-second-regular:			400;
$font-second-light:				300;
$font-second-semibold:		700;

$line-height:					    1.5em;

$font-sizes: (
  // $mobile | $tablet | $tablet-landscape | $desktop | $desktop-wide | $fullhd | $ultra
  header: (30, 40, 50, 60, 80, 100, 120),
  h1:     (30, 30, 40, 45, 55, 55, 60),
  h2:     (22, 24, 26, 28, 30, 36, 40),
  h3:     (18, 18, 20, 22, 24, 26, 34),
  h4:     (16, 16, 18, 22, 22, 26, 32),
  h5:     (14, 14, 16, 18, 20, 22, 24),
  h6:     (12, 12, 14, 16, 18, 20, 22),
  p:      (14, 16, 16, 18, 20, 22, 24),
  p2:     (14, 14, 16, 16, 16, 18, 20),
  small:  (12, 12, 14, 14, 14, 16, 18),
  form:   (14, 16, 16, 18, 20, 22, 24)
);
