/* COLORS */
$gray:            			#E5E5E5;
$gray-light:            	#EBEDF0;
$gray-lighten:            	#F6F6F6;
$black:					    #212121;
$white:					    #ffffff;

$color-brand:			    #007B3B;
$color-second:			    #d71321;

$colorBackground:           $gray-lighten;

$colorError:                #d71321;

$colorBorder:               rgba($black, 0.16);

$colorFont:				    $black;
$colorFontInverted:		    $white;

$colorLink:             	$color-brand;
$colorLinkHover:      	    $color-brand;

$cursorHover:				pointer;
$cursorDisabled: 		    not-allowed;

// FONTS
$fontSize:					1.4rem;
$fontSizeSecondary:			1.2rem;

$fontSizeH1:                5.5rem;
$fontSizeH2:                3.6rem;
$fontSizeH3:                2.6rem;
$fontSizeText:              2.2rem;
$fontFamily:				'Open Sans', sans-serif;
$fontRegular:				400;
$fontSemiBold:				600;
$fontBold:				    600;

$lineHeight:				1.4em;

// Базовый ветикальный ритм
$rhythm:                    8px;
