<section class="content-section content-section_gray">
    <div class="content-section__container">
        <h2>Правила проживания</h2>
        {% include '../../components/accordion/accordion.twig' with {

        }
        %}
        <div style='height: 20px; background: #F00;'></div>
        {% include '../../components/accordion/accordion.twig' with {

        }
        %}

        <div style='height: 20px; background: #F00;'></div>

        {% include '../../components/accordion/accordion.twig' with {

        }
        %}

    </div>
</section>
