<div class="accordion j-accordion">
    <ul class="accordion__list">
        <li class="accordion__item">
            <div class="accordion__header data-btn='1'">
                <h3>На территории</h3>
                <button class="accordion__btn"></button>
            </div>
            <div class="accordion__body data-body='1'">
                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                проявления вандализма или противоправных действий, арендатору может быть отказано в
                    аренде с выселением в течение часа без возврата арендной платы.</p>
            </div>
        </li>
        <li class="accordion__item">
            <div class="accordion__header data-btn='2'">
                <h3>Сауна</h3>
                <button class="accordion__btn"></button>
            </div>
            <div class="accordion__body data-body='2'">
                <p>В случае грубых нарушений правил проживания, пожарной безопасности,
                проявления вандализма или противоправных действий, арендатору может быть отказано в
                    аренде с выселением в течение часа без возврата арендной платы.</p>
            </div>
        </li>
    </ul>
</div>
